OpenFace/x64/Release/
OpenFace/x64/Debug/
OpenFace/lib/local/LandmarkDetector/Release/
OpenFace/lib/local/LandmarkDetector/x64/
OpenFace/lib/local/LandmarkDetector/Debug/
OpenFace/lib/local/GazeAnalyser/Debug/
OpenFace/lib/local/FaceAnalyser/x64/
OpenFace/lib/local/GazeAnalyser/x64/
OpenFace/lib/3rdParty/dlib/x64/
OpenFace/lib/local/FaceAnalyser/Debug/
OpenFace/lib/3rdParty/dlib/Release/
OpenFace/lib/3rdParty/dlib/Debug/
*.ipch
OpenFace/exe/Recording/x64/
OpenFace/exe/Recording/Debug/
OpenFace/exe/FeatureExtraction/x64/
OpenFace/exe/FeatureExtraction/Debug/
OpenFace/exe/FaceLandmarkVidMulti/x64/
OpenFace/exe/FaceLandmarkVidMulti/Debug/
OpenFace/lib/local/FaceAnalyser/Release/
OpenFace/exe/FaceLandmarkVid/Release/
OpenFace/exe/FaceLandmarkImg/x64/
OpenFace/exe/FaceLandmarkVid/Debug/
OpenFace/exe/FaceLandmarkVid/x64/
OpenFace/exe/FaceLandmarkImg/Debug/
OpenFace.sdf
OpenFace.VC.opendb
OpenFace/OpenFace.VC.db
OpenFace/exe/FaceLandmarkImg/Release/
OpenFace/exe/FaceLandmarkVidMulti/Release/
OpenFace/exe/FeatureExtraction/Release/
OpenFace/exe/Recording/Release/
OpenFace/lib/local/GazeAnalyser/Release/
OpenFace/exe/FaceLandmarkImg/menpo_out/
OpenFace/exe/FeatureExtraction/experiments/
*.vspx
matlab_version/AU_training/experiments/full_model_training/mat_models_o/
OpenFace/lib/local/Utilities/x64/Release/
OpenFace/lib/local/Utilities/x64/
OpenFace/exe/FaceLandmarkImg/processed/
gui/OpenFaceOffline/obj/Release/
OpenFace/lib/local/CppInerop/x64/
gui/OpenFaceOffline/obj/Debug/
gui/HeadPose-live/obj/x86/
gui/OpenFaceDemo/obj/Debug/
gui/OpenFaceDemo/obj/Release/
gui/HeadPose-live/obj/Release/
gui/HeadPose-live/obj/Debug/
OpenFace/lib/3rdParty/CameraEnumerator/x64/
gui/OpenFaceOffline/obj/
gui/OpenFaceDemo/obj/
OpenFace/exe/FeatureExtraction/processed/
OpenFace/exe/FaceLandmarkVidMulti/processed/
OpenFace/lib/3rdParty/CameraEnumerator/Release/
OpenFace/lib/local/CppInerop/Release/
OpenFace/lib/local/Utilities/Release/
OpenFace/exe/releases/OpenFace_*
*.suo
.vs/OpenFace/v15/
/build/
matlab_runners/Action Unit Experiments/AU_predictions/
OpenFace/lib/local/Utilities/Debug/
OpenFace/lib/3rdParty/CameraEnumerator/Debug/
OpenFace/lib/local/CppInerop/Debug/
*.user
OpenFace/lib/local/LandmarkDetector/model/patch_experts/cen_patches_1.00_of.dat
OpenFace/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.25_of.dat
OpenFace/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.50_of.dat
OpenFace/lib/local/LandmarkDetector/model/patch_experts/cen_patches_0.35_of.dat
